@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1c0522;
    transition: 0.5s;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}
header .logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #1c0522;
}
.search
{
    position: relative;
    width: 300px;
    height: 40px;
}
.search input
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: transparent;
    border: 1px solid rgba(255, 255, 2555, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 10px;
    backdrop-filter: blur(10px);
}
.search input::placeholder
{
    color: #fff;
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
}
.content .textBox h2
{
    color: #fff;
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
}
.content .textBox h2 text
{
    font-size: 2em;
    color: #456b93;
}
.content .textBox h2 span
{
    font-size: 2em;
    color: #9c505d;
}
.content .textBox p
{
    color: #fff;
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #1c0522;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 15px;
    border-radius: 20px;
}
.content .imgBox
{
    width: 600px;
    display: flex;
    padding-right: -60px;
    margin-top: -60px;
}
.content .imgBox img
{
    max-width: 600px;
}
.thumb
{
    position: absolute;
    left: 40%;
    bottom: 30px;
    transform: translateY(-50%);
    display: flex;
}
.thumb li:hover
{
    transform: translateY(-15px);
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li img
{
    max-width: 80px;
}